<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('首页')"></div>
<body style="background: url(/erems/res/img/backgrounds/1@2x.jpg) no-repeat;color:white;">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" style="background:#f9f9f9;">
            <a class="navbar-brand" href="#">山西省高等教育自学考试管理系统</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="regist"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
            <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
        </ul>
    </div>
</nav>
<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>山西省高等教育自学考试管理系统</h1>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;山西省高等教育自学考试管理系统是基于B/S架构的省高等教育自学考试管理系统。
            任意Web浏览器(Browser)均可通过网址访问到发布后的系统服务，
            服务器(Server)对于来自网络的HTTP请求经处理后会返回对应服务资源给请求者。</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="span4">
            <h2>新闻资讯</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;
                5月31日上午，省招生考试管理中心向省政协专题汇报了我省2018年高考准备情况和高考综合改革相关情况。省政协教科委主任苏亚君、教科委全体委员，以及各市政协教科委主任共30余人出席会议。在听取省招生考试管理中心主任赵丽华的专题汇报后，苏亚君主任及委员对我省今年高考准备工作和高考综合改革工作给予充分肯定，并表示将一如既往支持我省招生考试工作和高考改革。
                　　<br>&nbsp;&nbsp;&nbsp;&nbsp;会议以“教学、学习与测评的衔接”为主题...
            </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>考生须知</h2>
            <p>一、考试开始前15分钟考生凭学生证和有效身份证件（身份证等）进入规定考场对号入座，并将有效证件放在考桌左上角，以便监考人员查验。考试开始指令发出后，考生才能开始答卷。
                二、考生进入考场必须关闭各种通讯工具。
                参加闭卷考试考生在入场时除携带必要的...</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>操作手册</h2>
            <p>注册帐号
                进入网报界面，点击【注册】，屏幕显示注册协议，阅读完毕，点击【接受】，屏幕显示注册须知，阅读完毕后，
                点击【下一步】，进入注册信息录入界面（见下图），其中带*号的是必填项...
            </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; By GJJ 2019 | contact @GuoJunJun</p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/erems/res/assets/js/jquery.js"></script>

</body>
</html>